// main theme colors

$primary: #0C87F2;
$secondary: #63B0F2;
$tertiary: #F24C3D;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
);

.max-container {
  width: 100%;
  max-width: 550px;
}
// fonts
body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
}

// off canvas customization
$offcanvas-horizontal-width: 200px;

.offcanvas {
  bottom: auto  !important;
}

// custom P font variables

.p6, .p5, .p4, .p3, .p2, .p1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

.p1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  .p1 {
    font-size: 2.5rem;
  }
}

 .p2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  .p2 {
    font-size: 2rem;
  }
}

 .p3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
 .p3 {
    font-size: 1.75rem;
  }
}

 .p4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  .p4 {
    font-size: 1.5rem;
  }
}

.p5 {
  font-size: 1.25rem;
}

.p6 {
  font-size: 1rem;
}


/*
.form-group {
    border:  solid black 2px;
    padding: 30px;
}
.post {
    width: 400px;
    max-width: 400px;
    border: solid black 2px;
    padding: 20px;
}

.image {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

img {
    height: 100%;
    width: 100%;
}
*/